<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\inicio.css">
        <link rel="stylesheet" href="..\static\css\show-data.css">
        

        <title>Inicio</title>
    </head>
    <body>
        <div class="cuerpo">
            <div class="container">
                <div class="title">User Login</div>
                <div class="links">
                    <div class="login"><a href="/login">LOGIN</a></div>
                    <div class="register"><a href="/sign-up">REGISTER</a></div>
                </div>
            </div>
        </div>
        <a id="nuestras" href="#bicicletas"><div class="nuestras" id="nuestras"><h1>Click o deslizar para ver nuestras bicicletas</h1></div></a>
        <div class="list-container" id="bicicletas">

                <table class="tablaBicicletas"  id="tablaBlicicletas">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Tamaño de aro</th>
                        <th>Color</th>
                        <th>Tipo</th>
                        <th>Nivel</th>
                        <th>Precio S/.</th>
                        <th>Imagen</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        {% for bicicleta in bicicletas %}
                        <td>
                            <button id="{{bicicleta.id}}" onclick="show_data({{ bicicleta.id }})" class="">{{ bicicleta.marca }}</button>
                        </td>
                        <td>
                            {{ bicicleta.modelo }}
                        </td>
                        <td>
                            {{ bicicleta.aro }}
                        </td>
                        <td>
                            {{ bicicleta.color }}
                        </td>
                        <td>
                            {{ bicicleta.tipo }}
                        </td>
                        <td>
                            {{ bicicleta.nivel }}
                        </td>
                        <td>
                            {{ bicicleta.precio }}
                        </td>
                        <td>
                            <a href="{{bicicleta.imagen}}"><img alt="{{bicicleta.modelo}}" src="{{ bicicleta.imagen }}" height="150px" width="150px"></img></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            <div id="show-info" class="hidden">
            <div class="box-background">
            </div>
            <div class="box">
                <div id="content" class="content">
                    <ul id="todos">
                        
                    </ul>
                    <button class="btn"onclick="ocultar()">Cerrar</button>
                </div>
            </div>
            </div>
        </div>
    </body>
    <script>
    function show_data(user) {
    document.getElementById("todos").innerHTML = '';
    fetch('/show-data/' + user, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(function(response) {
        return response.json();
    }).then(function(responseJSON) {
        const img = document.createElement('img');
        const li1 = document.createElement('li');
        const li2 = document.createElement('li');
        const li3 = document.createElement('li');
        const li4 = document.createElement('li');
        const li5 = document.createElement('li');
        const li6 = document.createElement('li');
        const li7 = document.createElement('li');
        const li8 = document.createElement('li');

        li1.innerHTML = "Publicado por: " + responseJSON['user'];
        li2.innerHTML = "Marca " + responseJSON['Marca'];
        li3.innerHTML = "Modelo: " + responseJSON['Modelo'];
        li4.innerHTML = "Tamaño de aro: " + responseJSON['Aro'];
        li5.innerHTML = "Color: " + responseJSON['Color'];
        li6.innerHTML = "Tipo: " + responseJSON['Tipo'];
        li7.innerHTML = "Nivel: " + responseJSON['Nivel'];
        li8.innerHTML = "Precio: S/." + responseJSON['Precio'];
        img.src = responseJSON['Imagen'];
        img.style.width = '300px';


        document.getElementById("todos").appendChild(img);
        document.getElementById("todos").appendChild(li1);
        document.getElementById("todos").appendChild(li2);
        document.getElementById("todos").appendChild(li3);
        document.getElementById("todos").appendChild(li4);
        document.getElementById("todos").appendChild(li5);
        document.getElementById("todos").appendChild(li6);
        document.getElementById("todos").appendChild(li7);
        document.getElementById("todos").appendChild(li8);

        document.getElementById('show-info').className = '';
    })
}

function ocultar() {
    document.getElementById('show-info').className = 'hidden';
}

function update_data(user) {
    fetch('/actualizar/' + user, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(function(response) {
        return response.json();
    }).then(function(responseJSON) {})
}

function delete_data(id) {
    fetch('/delete/' + id, {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(function(response) {
        return response.json();
    }).then(function(responseJson) {
        location.reload();
    })
}     
    </script>
</html>